.form.inline {
	.el-form-item.generate-form-item {
		/deep/ .el-form-item__content {
		    width: auto;
		}
		&.form-button /deep/{
			.el-form-item__label {
			    display: none;
			}
			.el-form-item__content {
			    width: auto;
			}
		}
		/deep/ .el-select {
		    display: inline-block;
		    &.multiple {
		    	width: 240px;
		    }
		}
	}
}
.form.block {
	.el-form-item.generate-form-item {
	    /* width: 320px; */
	    /deep/ .el-radio {
			line-height: 30px;
			font-weight: 500;
		}
		/deep/ .el-date-editor.el-input,
		/deep/ .el-date-editor.el-input__inner {
		    max-width: 100%;
		}
	}
}
